.box-filter {
  margin-bottom: 30px;
}

.filter-input {
  position: relative;
  width: 284px;
  height: 60px;
  display: block;
  cursor: pointer;
  border-radius: 1px;
}
.filter-input .text-input {
  text-align: left;
}

.filter-select {
  padding: 0 10px;
  width: 284px;
  height: 60px;
  display: block;
  cursor: pointer;
  border: 1px solid #ECECEC;
  border-radius: 1px;
  font-size: 16px;
  font-weight: bold;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 652px) {
  .box-filter {
    flex-direction: column;
  }
  .filter-select, .filter-input {
    width: 100%;
    margin-bottom: 10px;
  }
}
